body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('images/winner.gif');
    background-repeat: no-repeat;
    background-position: center;
}
#winner-container {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#winner-announcement {
    margin-top: 20px;
    font-size: 20px;
}